/******************************* FONTS **********************************/
@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('fonts/OpenSansRegular.woff2') format('woff2'),
         url('fonts/OpenSansRegular.woff') format('woff'),
         url('fonts/OpenSansRegular.ttf') format('truetype'),
         url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.eot');
    src: url('fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('fonts/OpenSansBold.woff2') format('woff2'),
         url('fonts/OpenSansBold.woff') format('woff'),
         url('fonts/OpenSansBold.ttf') format('truetype'),
         url('fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('fonts/OpenSansExtraBold.eot');
    src: url('fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
         url('fonts/OpenSansExtraBold.woff2') format('woff2'),
         url('fonts/OpenSansExtraBold.woff') format('woff'),
         url('fonts/OpenSansExtraBold.ttf') format('truetype'),
         url('fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');
}
/******************************* BODY **********************************/

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000000;
  font-family: 'OpenSansExtraBold';
}
a {
  display: inline-block;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}
#image {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 720px;
}


/********************************* HEADER *******************************/


section.front {
 /* background-image: url('../images/Main-Background-Large.jpg');*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/*-------------------------------- NAV ---------------------------------*/

.main_row {
  margin-top: 20px;
}
nav {
  color: #f2681c;
}
#main_logo {
  margin-left: 15px;
}
#main_logo:hover {
  box-shadow: 0 0 1px 2px #ceb4b4;
}
.nav_list {
  margin: 0 auto;
  margin-top: 14px;
}
.nav {
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: auto 15px;
  color: #f2681c;
  padding: 8px 1px;
  width: 130px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
    -moz-transition: all 0.15s 0.02s ease;
    -o-transition: all 0.15s 0.02s ease;
    -webkit-transition: all 0.15s 0.02s ease;
}
.nav:hover{
  border-top: 1px solid #f2681c;
  border-bottom: 1px solid #f2681c;
  text-decoration: none;
}
.nav:active{
  color: #da510c;
  border-color: #da510c;
}
.main_phone {
  letter-spacing: 0.03em;
  font-size: 18px;
  color: #f2681c;
}
.main_phone:hover {
  color: #f2681c;
}
.main_phone:active, .main_phone:visited, .main_phone:focus {
  color: #f2681c;
}
.b1 {
  margin-top: 5px;
  width: 155px;
  height: 30px;
  border: 1px solid #f2681c;
  border-radius: 2px;
  background-color: transparent;
}
a .b1 {
  font-family: 'OpenSansBold';
  font-size: 11px;
  text-transform: uppercase;
}
.b1:hover, .b1:active, .b1:focus {
  color: #da510c;
  border-color: #da510c;
}
/* END NAV */

.main_heading {
  font-size: 48px;
  line-height: 1.16em;
  letter-spacing: 0.07em;
  word-spacing: 0.08em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 90px;
}
.b2 {
  width: 245px;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: white;
    -moz-transition: all 0.15s 0.02s ease;
    -o-transition: all 0.15s 0.02s ease;
    -webkit-transition: all 0.15s 0.02s ease;
}
a .b2 {
  font-family: 'OpenSansExtraBold';
  font-size: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2681c;
}
.b2:hover {
  color: #fefcfc;
  border-color: #da510c;
  background-color: #da510c;
}
.b2:active, .b2:focus, .b2visited {
  background-color: #863005;
  border-color: #863005;
  color: white;
  box-shadow: inset 0 0 0;
}
.b2:active {
  background-color: #5b1e00;
  border-color: #5b1e00;
}
.b2:focus {
  outline: none;
}
#btm {
  margin-top: 50px;
  margin-bottom: 155px;
}

/* END HEADER */

/********************************* SERVICES ******************************/

#services {
  background-color: #ffffff;
  /*box-shadow: 0 0.2px 80px #111312;*/
}
.subhead {
  color: #1f0f22;
  margin-top: 85px;
  font-size: 36px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
#underlined {
  line-height: 1.65em;
  display: block-inline;
  padding-bottom: 15px;
  border-bottom: 3px solid #ffba00;
}
.serv_list {
  color: #582c60;
  margin-top: 40px;
  font-family: 'OpenSansRegular';
  font-size: 18px;
  letter-spacing: 0.07em;
}
.second {
  position: relative;
  right: 50px;
}
.serv_item {
  margin-bottom: 6px;
}
.services_raw {
  height: 420px;
}
#pic1_box {
  margin-top: 82px; 
  width: 100%;
  height: 100%;
  
  /*box-shadow: 0 0 40px 15px #f9ecdb;*/
}
#pic1 {
  width: 100%;
  height: 100%;
}

#surveyor {
  position: absolute;
  left: -48px;
  top: 64px;
}
.border:hover
{
    box-shadow: inset 0 0 0 25px #53a7ea;
}

/* END SERVICES */

/********************************* DESCTIPTION ******************************/

#description {
  background-color: #eaeded;
}
.description_raw {
  height: 418px;
}
article {
  margin-top: 80px;
  font-family: 'OpenSansRegular';
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #280443;
}
article p {
  text-align: justify;
}
.pic2_box {
  margin-top: 83px;
  width: 100%
  height: 100%;
}
#pic2 {
  width: 100%;
  height: 100%;
}
.contrast img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.contrast img:hover {
  -webkit-filter: contrast(130%);  
}

/* END DESCTIPTION */

/******************************* CLIENTS ****************************/

section#clients {
  /*background-color: white;*/
  background: white url('../images/Customers-Large.png') no-repeat center center;
  background-size: cover;
  /*background-attachment: fixed;*/
}
.margin_div {
  margin-top: 65px;

}
.second_margin_div {
  margin-top: 48px;
  margin-bottom: 163px;
}
.margin_div.right {
  margin-top: 65px;
  margin-left: 1px;
}
.second_margin_div.right {
  margin-top: 48px;
  margin-bottom: 163px;
  margin-left: 1px;
  
}
.clients_div{
  vertical-align: middle;
  display: inline-block;
}
#small_head{
  position: relative;
  bottom: 5px;
}
h4 {
  color: #1f0f22;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
h5 {
  color: #1f0f22;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.cert {
  width: 114px;
  height: 113px;
  position: relative;
  right: 20px;
}
.subhead {
  margin-top: 75px;
}

/* END CLIENTS */

/******************************* LOCATION ****************************/

#location {
  background-color: #582c60;
}
.our_address{
  margin-top: 15px;
  margin-bottom: 28px;
}
#head_where {
  font-size: 30px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}
#head_here {
  font-size: 15px;
  letter-spacing: 0.07em;
  color: #ffba00;
  position: absolute;
  right: 30px;
  padding-top: 10px;
  text-align: justify;
}

/* END LOCATION */

/******************************* FOOTER ****************************/

footer {
  background-color: #582c60;
}
#logo2 {
  width: 165;
  height: 60;
}
#logo2:hover {
  box-shadow: 0 0 30px 0.5px #7e6f6f;
}
.footer{
  margin-top: 28px;
  margin-bottom: 24px;
}
.b1.b3 {
  color: #ffffff;
  border-color: #ffffff;
}
.b1.b3:hover, .b1.b3:active, .b1.b3:focus {
  color: #cab2ce;
  border-color: #cab2ce;
}
#pose {
  display: inline-block;
  margin-bottom: 20px;
}
#last_phone {
  display: inline-block;
  margin-left: 35px;
  vertical-align: middle;
}
#last_phone a {
  color: #ffffff;
}
.main_phone.bottom {
  vertical-align: middle;
}
#scrollup {
position: fixed; /* фиксированная позиция */
opacity: 0.6; /* прозрачность */
left: 10px; /* отступ слева */
bottom: 10px; /* отступ снизу */
display: none; /* спрятать блок */
cursor: pointer;
}

/* END FOOTER */

/********** super Large devices only **********/
@media (min-width: 1680px){
  #image {    
    height: 763px;
  } 

}
/********** Large devices only **********/
@media (min-width: 1200px) {

  .vis-sm-xs {
    display: none;
  }
  .md_only {
    display: none;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  .vis-lg {
    display: none;
  }
  .vis-sm-xs {
    display: none;
  }
  #image {    
    height: 635px;
  } 
  /***************************** HEADER ****************************/
  #main_logo {
    margin-left: 0px;
  } 
  .main_heading {
    font-size: 45px;
  }
/* END HEADER */
/***************************** SERVICES ****************************/

  .services_raw {
  height: 385px;
  }
  #pic1_box {
  margin-top: 65px; 
  }
  .subhead {
    font-size: 30px;
    margin-top: 65px;
  }
  .serv_list {
    font-size: 15px;
  }

/* END SERVICES */

/********************************* DESCTIPTION ******************************/


  .description_raw {
    height: 370px;
  }
  article {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  article p {
    text-align: left;
  }


/* END DESCTIPTION */
/***************************** CLIENTS ****************************/
.margin_div, .margin_div.right {
  margin-top: 73px;
}

/* END CLIENTS */
/***************************** LOCATION ****************************/

  #head_where {
      font-size: 19px;
  }
  #head_here {
      font-size: 14px;
      padding-top: 4px;

  }

/* END LOCATION */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


  .vis-lg {
    display: none;
  }
  .vis-lg-md{
    display: none;
  }
  .md_only {
    display: none;
  }
  #image {    
    height: 485px;
  } 
  /***************************** HEADER ****************************/
  .main_row {
  margin-top: 15px;
  }
  #main_logo {
    margin: 0px;
    width: 75%;
    margin-left: 15px;
  } 
  .nav_list {
    margin-top: 0px;
    padding: 0px;
    text-align: justify;
  }
  .nav {
    display: inline-block;
    font-size: 10px;
    margin: auto 30px;
    padding: 7px 8px;
    width: 130px;
  }
  .find {
    position: relative;
    right: 25px;
  }
  .b1.vis-sm-xs {
    width: 130px;
    height: 32px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
  }
  a.vis-sm-xs .b1 {
    font-size: 10px;
  }
  .main_phone {
    margin-top: 2px;
    font-size: 15px;
  }
  #phone_pos {
    position: relative;
    bottom: 3px;
  }
 .main_heading {
    margin-top: 80px;
    font-size: 35px;
  }
  .b2 {
  width: 215px;
  height: 60px;
  }
  a .b2 {
    font-size: 18px;
  }
  #btm {
    margin-top: 38px;
    margin-bottom: 110px;
  }

/* END HEADER */
/***************************** SERVICES ****************************/
  .services_raw {
    height: 303px;
  }
  .subhead {
    margin-top: 60px;
    font-size: 20px;
  }
  .serv_list {
    font-size: 13px;
  }
   #pic1_box {
  margin-top: 60px; 
  }
  .serv_list.num2{
    position: relative;
    right: 10px;
    width: 120%;
  }

/* END SERVICES */
/********************************* DESCTIPTION ******************************/


  .description_raw {
    height: 280px;
  }
  article {
    margin-top: 55px;
    font-size: 15px;
  }
  article p {
    text-align: left;
  }
  .pic2_box {
    margin-top: 55px;
  }



/* END DESCTIPTION */
/******************************* CLIENTS ****************************/

#move {
  padding-left: 10px;
}
.second_margin_div {
  margin-top: 50px;
}
.second_margin_div.right {
  margin-top: 50px;
}
h4 {
  font-size: 19px;
}
h5 {
  font-size: 14px;
}
.cert {
  width: 80px;
  height: 80px;
}

/* END CLIENTS */
/***************************** LOCATION ****************************/

  #head_where {
      font-size: 19px;
  }
  #head_here {
      font-size: 14px;
      position: static;
      padding-top: 0px;
      line-height: 1.2em;
  }
  iframe {
    height: 350px;
  }

/* END LOCATION */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  
  .vis-lg {
    display: none;
  }
  .vis-lg-md {
    display: none;
  }
  .vis-lg-md-sm {
    display: none;
  }
  .md_only {
    display: none;
  }
  section.front {
    background-image: url(../images/Main-Background-Small.jpg);
  }


/***************************** HEADER ****************************/
  
  .nav_list {
    display: none;
  }
  .main_phone {
    color: white;
  }
 .main_phone .colored:active, .main_phone .colored:hover, .main_phone .colored:visited, .main_phone .colored:focus {
     color: white;
  }
  .main_phone.xs {
    display: inline-block;
    position: relative;
    top: 10px;
    color: white; 
  }
  .b1 {
    border-color: white;
  }
  .main_heading {
    margin-top: 48px;
    font-size: 23px;
  }
  .b2 {
  width: 170px;
  height: 40px;
  }
  a .b2 {
    font-size: 12px;
  }
  #btm {
  margin-top: 30px;
  margin-bottom: 110px;
  }

/* END HEADER */
  
/***************************** SERVICES ****************************/
  .services_raw {
    height: 415px;
  }
  .subhead {
    font-size: 23px;
    margin-top: 55px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.6em;
  }
  #underlined {
    border-color: transparent;
  }
  .serv_list {
    margin-bottom: 0;
    margin-top: 0;
  }
  #pic1_box {
    display: none;
  }

/* END SERVICES */
/********************************* DESCTIPTION ******************************/


  .description_raw {
    height: 100%;
    margin-bottom: 0;
  }
  article {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 55px;
    margin-bottom: 0px;
  }
  article p {
    width: 100%;
    text-align: left;
  }
  #pic2 {
    display: none;
    margin-bottom: 0;
  }

/* END DESCTIPTION */
 /******************************* CLIENTS ****************************/
#move {
  font-size: 22px;
  margin-bottom: 10px;
}
.margin_div {
  margin-top: 36px;
  padding-left: 20px;
}
.second_margin_div {
  margin-top: 36px;
  margin-bottom: 0px;
  padding-left: 20px;
}
.margin_div.right {
  margin-top: 36px;
  padding-left: 20px;
}
.second_margin_div.right {
  margin-top: 36px;
  padding-left: 20px;
  margin-bottom: 70px;
}
h4 {
  font-size: 19px;
}
h5 {
  font-size: 14px;
}
.cert {
  width: 80px;
  height: 80px;
}


/* END CLIENTS */
/***************************** LOCATION ****************************/
  #location {
    text-align: center;
  }
  #head_where {
      display: none;
  }
  #head_here {
      display: inline-block;
      font-size: 12px;
      position: static;
      text-align: center;
      margin-top:10px;
      right: 0;

  }
  #precise {
    
    padding-left: 15px;
    padding-right: 15px;

  }
  iframe {
    height: 320px;
  }

/* END LOCATION */
/***************************** FOOTER ****************************/
  #logo2 {
    display: none;
  }
  footer {
    text-align: center;
  }
/* END FOOTER */

}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  section#clients {
    background-image: url(../images/Customers-Small.jpg);

  }

  .md_only {
    display: none;
  }
  /***************************** HEADER ****************************/
  .main_heading {
    font-size: 18px;
  }
  .main_phone {
    color: white;
  }
  span.colored.local {
    background-color: #f26822;
    padding: 1px 6px;
  }
  /* END HEADER */
/***************************** SERVICES ****************************/
  .services_raw {
    height: 100%;
  }
  .subhead {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 25px;  
  }

  .serv_list {
    font-size: 15px;
  }
  .num2 {
    margin-bottom: 38px;
  }

    /* END SERVICES */
  
/********************************* DESCTIPTION ******************************/


  .description_raw {
    height: 100%;
  }
  article {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  article p {
    width: 100%;
    text-align: left;
  }
  #pic2 {
    display: none;
  }

/* END DESCTIPTION */
/***************************** Clients ****************************/
  .cert {
    display: block;
    right: 0;
    margin: auto;
  }

  .margin_div {
    text-align: center;
    padding-left: 0;
    margin-top: 50px;
  }
  .second_margin_div {
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
  }
  .margin_div.right {
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
  }
  .second_margin_div.right {
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
  }


/* END Clients */
/***************************** FOOTER ****************************/
  #logo2 {
    display: none;
  }
  #last_phone {
  margin: auto 10px;
  }
  .b1.b3 {
    margin: auto 10px;
  }

/* END FOOTER */


}


/***************************Animation************************/

.animation-element {
  opacity: 0;
  position: relative;
}
.fadeIn {
  opacity: 0;
  -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.fadeIn.animated {
  opacity: 1;
}
.moveLeft {
  -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;

    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}
.moveLeft.animated {
  -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.moveRight {
  -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;

    -moz-transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);
}
.moveRight.animated {
  -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

/***************************Animation End************************/


/****************CLASS TO ENABLE MAP SCROLLING ONLY AFTER CLICK ***/

.scrolloff {
        pointer-events: none;
    }

/****************END CLASS TO ENABLE MAP SCROLLING ONLY AFTER CLICK ***/
